<!DOCTYPE html>
<html ng-app="movieApp" ng-controller="MoviesController">
<head>
  <meta charset="UTF-8">
  <title>Movies</title>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <style>
    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 18px;
      text-align: left;
    }
    .styled-table th, .styled-table td {
      padding: 12px 15px;
      border-bottom: 1px solid #ddd;
    }
    .styled-table th {
      background-color: #333;
      color: white;
    }
    .styled-table tbody tr:hover {
      background-color: rgba(0,0,0,0.05);
    }
  </style>
</head>
<body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="lib/bootstrap.js"></script>

  <h1>Movies</h1>
  
  <form>
    <select name="genres" id="genres" 
      ng-model="selectedGenreName" 
      ng-options="genre.slug as genre.slug for genre in genres"> 
    </select>
    <button ng-click="getMoviesByGenre(selectedGenreName)">Show Genre</button>
  </form>
  
  <table class="styled-table">
    <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Titulo</td>
            <td>Descripción</td>
            <td>Imagen</td>
            <td>Detalles</td>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="movie in movies">
        <td>{{$index + 1}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.description}}</td>
        <td><img ng-src="{{movie.poster.url}}" width="200" height="200"></td>
        <td><a ng-href="#!movies/{{movie.id}}">Detalles de la Pelicula</a></td>
      </tr>
    </tbody>
  </table>

  <div ng-view></div>

  <script>
    var movieApp = angular.module('movieApp', ['ngRoute']);

    movieApp.config(function($routeProvider) {
      $routeProvider.
      when('/Movie/:movieId', {
        templateUrl: 'movie.html',
        controller: 'MoviesController'
      });
    });

    movieApp.controller('MoviesController', function($scope, $http) {
      $http.get('http://api.filmon.com/api/vod/genres')
        .then(function(response) {
          $scope.genres = response.data.response;
        });

      $scope.getMoviesByGenre = function(genreName) {
        $http.get('http://api.filmon.com/api/vod/search?genre=' + genreName)
          .then(function(response) {
            $scope.movies = response.data.response;
          }, function errorCallback(response) {
            alert("Error al obtener las películas");
          });
      }
    });
  </script>
</body>
</html>
