<!DOCTYPE html>
<html ng-app="movieApp">
<head>
    <title>Películas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script>
        angular.module('movieApp', [])
        .controller('MainController', ['$http', function($http) {
            var self = this;
            self.genres = [];
            self.movies = [];
            self.selectedGenre = null;

            $http.get('https://api.themoviedb.org/3/genre/movie/list?api_key=c4ab6bd505b68822b549cd53ec9fe2bc&language=es-ES')
            .then(function(response) {
                self.genres = response.data.genres;
            });

            self.fetchMovies = function() {
                if(self.selectedGenre) {
                    $http.get(`https://api.themoviedb.org/3/discover/movie?api_key=c4ab6bd505b68822b549cd53ec9fe2bc&with_genres=${self.selectedGenre.id}&language=es-ES`)
                    .then(function(response) {
                        self.movies = response.data.results;
                    });
                }
            };
        }]);
    </script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body ng-controller="MainController as ctrl">
    <h1>Selector de Generos de Peliculas</h1>
    <form>
        <select ng-model="ctrl.selectedGenre" ng-options="genre.name for genre in ctrl.genres" ng-change="ctrl.fetchMovies()">
            <option value="">Seleccione un genero</option>
        </select>
    </form>

    <table>
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
        </tr>
        <tr ng-repeat="movie in ctrl.movies">
            <td><a href="movie.html?movieId={{ movie.id }}">{{ movie.title }}</a></td>
            <td>{{ movie.overview }}</td>
        </tr>        
        </tr>
    </table>
</body>
</html>