/* You can add global styles to this file, and also import other style files */
/* app.component.css */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .styled-table th, .styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
  }
  
  .table-image {
    max-width: 150px; /* Establece el ancho máximo de la imagen */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen */
  }
  