{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Aplicaciones de Internet</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
        </div>
        <div class="row">
            <a href="{% url 'lista_asignaturas' %}" class="btn btn-primary">Ver Asignaturas</a>
            <a href="{% url 'crear_asignatura' %}" class="btn btn-success">Crear Asignatura</a>
        </div>
    </div>
</body>
</html>