{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
        <title>Aplicaciones de Internet</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <img src="{% static 'images/userena.svg' %}" class="rounded" style="width:200px"/>
            <h1>Aplicaciones de Internet</h1>
            
      {% for valor in valores%}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{valor.poster.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{valor.title}}</h5>
          <p class="card-text">{{valor.description}}</p>
          <!--a href="#" class="btn btn-primary">Go somewhere</a-->
        </div>
      </div>
      {%endfor%}
</body>
</html>