<!-- app.component.html -->
<div>
  <form>
    <label for="genreSelector">Seleccione un género:</label>
    <select id="genreSelector" (change)="onGenreSelected($event)">
      <option *ngFor="let slug of genres" [value]="slug">{{ slug }}</option>
    </select>
  </form>

  <table class="styled-table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Titulo</th>
        <th>Descripcion</th>
        
        <!-- Agrega más columnas según la estructura de los datos de la API -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of responseData">
        <td><img *ngIf="item.poster && item.poster.url" [src]="item.poster.url" alt="Poster Image" class="table-image"></td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        
        <!-- Agrega más celdas según la estructura de los datos de la API -->
      </tr>
    </tbody>
  </table>
</div>
